#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R Studio
2. Python
3. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. ggplot
3. matplotlib
4. Pandas

In [2]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
# import module
from tabulate import tabulate
 
# assign data
mydata = [
    ["R Studio"],
    ["Apache Spark"],
    ["Apache Hadoop"],
]
 
# create header
head = ["Data Science Tools"]
 
# display table
print(tabulate(mydata, headers=head, tablefmt="grid"))

+----------------------+
| Data Science Tools   |
+======================+
| R Studio             |
+----------------------+
| Apache Spark         |
+----------------------+
| Apache Hadoop        |
+----------------------+

###Below are a few examples of evaluating arithmetic expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
x = 200
print("x/60")

x/60

In [6]:
#This will convert 200 minutes to hours by diving by 60
x = 200
print(x/60)

3.3333333333333335

 **Objectives:**

 - List popular languages for Data Science
 - Open source vs free software
 - Python basics

##Author

Surbhi Suman